<table class="table table-striped table-responsive">
    <thead>
        <tr>
            {% for column in header %}
                <th>{{ column.label }}</th>
            {% endfor %}
        <tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for name, column in header %}
                    <td>{{ column.raw ? row[name]|raw : row[name]|escape }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
