{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes() %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <h1>Users</h1>

    <div name="user-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div>
    
{% endblock %}
