{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>Users</h1>

    <div name="user-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div>
    
{% endblock %}
