{% extends 'base.html.twig' %}

{% block title %}Tournament matches{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>Tournament matches</h1>

    <br>

    {% set count = tables|length %}
    {% for key, table in tables %}
        {% if count != 1 %}
            <h3>Round {{ key + 1 }}</h3>
        {% endif %}
        {{ table_render(table) }}
        <br>
        <hr>
    {% endfor %}
    
{% endblock %}
