{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    {{ render_flash_messages() }}
    {# {% for flash_error in app.flashes() %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <h1>Teams</h1>

    <div class="d-flex flex-row-reverse">
        <a class="btn btn-success" href="{{ path('team_create') }}">Create new team</a>
    </div>

    <div name="team-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div>
    
{% endblock %}
