{% extends 'base.html.twig' %}

{% block body %}
    <!-- Insert this where you want the table to appear -->
    <div id="myTable" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div>

    
    
    <!-- Insert this at the end of your body element, but before the closing tag -->
{% endblock %}
