{% extends 'base.html.twig' %}

{% block body %}
    <h3>Vertical Sidebar that switches to Horizontal Navbar</h3>
    <p>Is ajax? {{ajax}}</p>

    {% block page_contents %}{% endblock %}
{% endblock %}
