{% extends 'base.html.twig' %}

{% block title %}Tournaments{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>Tournaments</h1>

    <div class="d-flex flex-row-reverse">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}<a class="btn btn-success" href="{{ path('tournament_create') }}" style="margin-left: 5px;">Create new tournament</a>{% endif %}
        {% if is_granted("ROLE_ADMIN") %}<a class="btn btn-primary" href="{{ path('tournament_types') }}">Create new type</a>{% endif %}
    </div>

    <br>

    <div name="tournament-table" data-settings='{{ datatable_settings(datatable) }}'></div>
    
{% endblock %}
