body {
    background-color: lightgray;
}


label.required::after, legend.required::after{
    content: '*';
    padding-left: 0.3rem;
    color: red;
}

div.padding{
    padding-top: 0.3em;
}

dd.vert-center {
    margin-top: auto;
    margin-bottom: auto;
}

td {
    vertical-align: middle;
}

dt.vert-center {
    margin-top: 8px;
    margin-bottom: 8px;
}

a  { text-decoration: none !important; }

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.dt-loading {
    width: 100%;
    height: 300px;
    background-color: #e9ecef;
    border-radius: 15px;
    position: relative;
}

i.bi-person-circle {
    color: white !important;
    padding-right: 5px;
}
